body {
  font-family: Georgia;
  font-size: 12px;
  margin: 0;
}

a {
  color: #00f;
}

a:hover {
  color: #f00;
}

textarea {
  width: 100%;
  height: 300px;
}

#header {
  padding: 30px;
  background: rgb(79, 70, 204);
}

#menu {
  padding: 10px;
  background: #ccc;
}

#content {
  margin: 5px;
  padding: 10px;
  border: 1px dotted #999;
}

#footer {
  padding: 30px;
  background: rgb(79, 70, 204);
}
#buying_form {
  display: none;
}
#buy {
  display: block;
}
